<!DOCTYPE html>
<html>
  <body>
    <h1><%= tipo %></h1>
    <p>Termo: <%= termo %></p>
    <p>Tempo: <%= tempo.toFixed(3) %> ms</p>
    <pre><%= JSON.stringify(resultado, null, 2) %></pre>
    <h4>Sample</h4>
    <pre><%= JSON.stringify(sample, null, 2) %></pre>
    <a href="/algoritmos">Voltar</a>
  </body>
</html>
