<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Expedição</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background: #373c41;
        color: #222;
      }

      a {
        color: white;
      }

      a.voltar {
        display: inline-block;
        margin-bottom: 15px;
        text-decoration: none;
        background: #111;
        color: #fff;
        padding: 8px 14px;
        border-radius: 6px;
        font-size: 14px;
        transition: 0.2s;
      }

      a.voltar:hover {
        background: #333;
      }

      h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 26px;
        color: #ffffff;
        letter-spacing: 0.05em;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      }

      thead {
        background: #f3f4f6;
        color: rgb(0, 0, 0);
      }

      th,
      td {
        background: #f3f4f6;
        padding: 12px 14px;
        text-align: left;
        font-weight: bold;
        border: solid 1px black;
      }

      tbody tr:nth-child(even) {
        background: #7e7e7e;
      }

      tbody tr:hover {
        background: #7e7e7e;
      }
    </style>
  </head>
  <body>
    <a href="/corporativo">← Voltar</a>
    <h1>Expedição</h1>
    <table>
      <thead>
        <tr>
          <th>Venda ID</th>
          <th>Cliente</th>
          <th>Produto</th>
          <th>Qtd</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <% dados.forEach(d => { %>
        <tr>
          <td><%= d.id %></td>
          <td><%= d.nome_cliente %></td>
          <td><%= d.produto_id %></td>
          <td><%= d.quantidade %></td>
          <td><%= d.data_venda %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
