<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Relatórios</title>
  </head>
  <style>
    body {
      margin: 25px;
      font-family: Arial, Helvetica, sans-serif;
      background: #373c41;
      color: #222;
    }

    h1 {
      color: white;
    }
    header {
      background: #111;
      color: #fff;
      padding: 16px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    header a {
      color: #fff;
      text-decoration: none;
      font-size: 15px;
      padding: 6px 10px;
      background: #222;
      border-radius: 4px;
      transition: 0.2s;
    }

    header a:hover {
      background: #333;
    }

    a {
      color: white;
    }

    h1 {
      margin-top: 25px;
      font-weight: 600;
      letter-spacing: 0.03 em;
    }

    table {
      width: calc(100% - 50px);
      margin: 0 auto 40px auto;
      border-collapse: collapse;
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }

    th {
      background: #f3f4f6;
      color: #000000;
      padding: 12px;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid black;
    }

    td {
      padding: 12px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      border: 1px solid black;
      font-weight: bolder;
    }

    tr:hover td {
      background: #f0f0f0;
    }
  </style>
  <body>
    <a href="/corporativo">← Voltar</a>
    <h1>Relatórios / Logs</h1>
    <table style="width: 100%; border-collapse: collapse">
      <thead>
        <tr>
          <th>Ação</th>
          <th>Usuário</th>
          <th>Produto</th>
          <th>Data</th>
        </tr>
      </thead>

      <tbody>
        <% logs.forEach(l => { %>
        <tr>
          <td><%= l.operacao %></td>
          <td><%= l.usuario %></td>
          <td><%= l.produto_id %> - <%= l.nome_produto %></td>
          <td><%= new Date(l.data).toLocaleString("pt-BR") %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
